body{
  background-image: url("Dusk.jpg");
  color: white;

}

h1{
  text-align: center;
  margin: 5%;
}

.rectangle{
  text-align: center;
  background-color: ;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 2%;
}
.text{
  margin: 2%;
  font-size: 2rem;
  border-style: none;
  background: transparent;
  border-bottom:1px solid #555;
  color: white;
}

input:focus{
  border:none;
 outline:none;
 border-bottom:1px solid #e74c3c;
}

.label{
  margin: 4%;
  font-size: 1.5rem;
}
.pic{
  margin-bottom: 10%;
}
.last{
  margin-top: 5%;
  font-size: 1rem;
}
